<!DOCTYPE html>
<html>
  <head>
    <title>Casie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to("Casie", "/posts/index") %>
        <% else %>
          <%= link_to("Casie", "/") %>
        <% end %>
      </div>
      <ul class="header-menus">
          <li>
            <%= link_to("プランの選択", "/posts/index") %>
          </li>
          <li>
            <%= link_to("ログアウト", "/posts/new") %>
          </li>
          <li>
            <%= link_to("About Casie", "/users/index") %>
          </li>
          <li>
            <%= link_to("プラン", "/logout", {method: :post}) %>
          </li>
          <li>
          <%= link_to("作品リスト", "/logout", {method: :post}) %>
        </li>
          <li>
            <%= link_to("メディア", "/logout", {method: :post}) %>
        </li>
           <li>
            <%= link_to("マイページ", "/logout", {method: :post}) %>
        </li>
       
          
      </ul>
    </header>

  <body>
    <%= yield %>
  </body>
</html>
